<form method="post" action="{% url 'phishing_delete' phishing.id %}" class="js-phishing-delete-form">
    {% csrf_token %}
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title">Confirmar exclusão da phishing</h4>
    </div>
    <div class="modal-body">
        <p class="lead">Você tem certeza de que deseja deletar a phishing: <strong>{{ phishing.analista }}</strong>?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
        <button type="submit" class="btn btn-danger">Deletar Phishing</button>
    </div>
</form>