{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
Listagem Midia Social
{% endblock title %}

{% block tituloPagina %}
<center>Listagem Midia Social</center>
{% endblock tituloPagina %}

{% block content %}


<a class="btn waves-effect waves-light" type="submit" name="action" href="{% url 'create' %}">
  Nova midia
</a>
<table class="striped">
<thead>
<tr>
  <th>Id</th>
  <th>Analista</th>
  <th>Link denuncia</th>
  <th>Denuncia</th>
  <th>Ticket Axur</th>
  <th>Numero Facebook</th>
  <th>Ações</th>
</tr>
</thead>
<tbody>
{% for midia in registers %}
  <tr>
    <td class="id">{{ midia.id }}</td>
    <td class="analista">{{ midia.analista }}</td>
    <td class="linkDenuncia">{{ midia.linkDenuncia }}</td>
    <td class="denuncia">{{ midia.denuncia }}</td>
    <td class="ticketAxur">{{ midia.ticketAxur }}</td>
    <td class="numeroFacebook">{{ midia.numeroFacebook }}</td>
    <td ><a class="btn waves-effect waves-light" type="submit" name="action" href="{% url 'update' midia.id %}">Alterar</a></td>
  </tr>
{% endfor %}
</tbody>
</table>



<center>
     <ul class="pagination">
     <span class="step-links">
        {% if registers.has_previous %}
            <li><a id="prev" href="?page={{ registers.previous_page_number }}">&laquo;</a></li>
        {% else %}
            <li class="disabled"><span>&laquo;</span></li>
        {% endif %}

         <span class="current">
            Página {{ registers.number }} de {{ registers.paginator.num_pages }}
        </span> 
        <!--{% for i in registers.paginator.page_range %}
          {% if registers.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only"></span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}-->

     



        {% if registers.has_next %}
            <li><a id="next" href="?page={{ registers.next_page_number }}">&raquo;</a></li>
        {% else %}
            <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
    </ul>
</center>

<br><br /><br />

  

  


{% endblock content %}
