{% extends 'base.html' %}

{% block title %}
Listagem de midiasocial
{% endblock title %}

{% block tituloPagina %}
<center>Listagem midia social</center>
{% endblock tituloPagina %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th>Analista</th>
      <th>Origem Denúncia</th>
      <th>Link Denuncia</th>
      <th>Ticket Axur</th>
      <th>Numero Facebook</th>
      <th>Ação</th>
    </tr>
  </thead>
  <tbody>
  {% for obj in object_list %}
    <tr>
      <td>{{ midia.analista }}</td>
      <td>{{ midia.denuncia }}</td>
      <td>{{ midia.linkDenuncia }}</td>
      <td>{{ midia.ticketAxur }}</td>
      <td>{{ midia.numeroFacebook }}</td>
      <td>
       <!-- <a href="{% url 'update' pk=midia.pk %}">
          <span class="glyphicon glyphicon-pencil"></span>
        </a> -->
        <a href="{% url 'delete' instance.id %}">
          <span class="glyphicon glyphicon-trash"></span>
        </a>
      </td>
    </tr>



     <div class="pagination">
    <span class="step-links">
        {% if object_list.has_previous %}
            <a href="?page={{ object_list.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ object_list.number }} of {{ object_list.paginator.num_pages }}.
        </span>

        {% if object_list.has_next %}
            <a href="?page={{ object_list.next_page_number }}">next</a>
        {% endif %}
    </span>
    </div>


    
  {% endfor %}
  </tbody>
</table>
<a href="{% url 'create' %}">
<button type="submit" class="btn btn-primary">
    Cadastrar
</button>
</a>

{% endblock content %}


