{% extends 'base.html' %}

{% block title %}
Listagem de midiasocial
{% endblock title %}

{% block tituloPagina %}
<center>Listagem midia social</center>
{% endblock tituloPagina %}

{% block content %}



<table class="table table-bordered">
<thead>
<tr>
  <th>Analista</th>
  <th>Link denuncia</th>
  <th>denuncia</th>
  <th>ticket Axur</th>
  <th>Numero Facebook</th>
</tr>
</thead>
<tbody>
{% for midia in lista_midias %}
  <tr>
    <td><a href="{% url 'update' midia.id %}">{{ midia.analista }}</a></td>
    <td>{{ midia.linkDenuncia }}</td>
    <td>{{ midia.denuncia }}</td>
    <td>{{ midia.ticketAxur }}</td>
    <td>{{ midia.numeroFacebook }}</td>
  </tr>
{% endfor %}
</tbody>
</table>


<br>
<a href="{% url 'create' %}">Nova midia</a>
{% endblock content %}
